body {
  background-color: #16013e;
  color: #ffffff;
}
.logoclass {
  margin: 0;
  .logo {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
}

#gametitle {
  width: auto;
  padding-top: 2rem;
}
#bouton-select {
  position: relative;
  max-width: 400px;
  min-width: 180px;
  margin: 0 auto;
  border: 1px solid #5c1bbe;
  background-color: #ffffff;
  height: 50%;
  margin: auto;
  z-index: 10;
  #difficulte {
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    width: 100%;
    padding: 12px 55px 15px 15px;
    font-size: 14px;
    color: #040108;
  }

  &:after {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    line-height: 38px;
    content: "\2228";
    text-align: center;
    color: #040108;
    font-size: 24px;
    border-left: 1px solid #5c1bbe;
    z-index: -1;
  }
}
#image-pendu {
  margin-top: 30px;
}
span {
  padding: 20px 30px;
  font-size: 35px;
  border: 3px solid white;
  margin-top: 30px;
  height: 60px;
  margin-right: 25px;
  display: block;
  float: left;
  line-height: 20px;
  &.active:hover {
    background-color: #3c1c78;
    cursor: pointer;
  }
  &.inactive {
    background-color: grey;
  }
}
#start-game {
  margin-top: 25px;
}
#mask {
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
}
#remaining-guesses {
  margin-top: 10px;
}
.list-group {
  margin-top: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
}
li.list-group-item {
  color: green;
}
